#rask {
    background-color: #FFB81C;
    padding: 20px
}

#schneider {
    background-color: #CE1126;
    padding: 20px
}

.rask{
    background-color: #FFB81C
}

.schneider {
    background-color: #CE1126
}

.pageheaders {
    color: black;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 2px #D3D3D3
}

.regular {
    color: black;
    text-align: left;
    font-weight: bold
}

ul {
    list-style-type: square;
}

table {
    border: 2px solid black;
}

th, td {
    border: 1.5px dotted black;
}

@media only screen and (max-width: 700px) {
    h1 {
        text-transform: lowercase !important;
    }
}

